@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Lato', sans-serif;
  color: black !important;
}

.jumbotron h1 {
  font-size: 750%;
  font-weight: 300;
  color: black !important;
}



.main-jumbotron {
  text-align: center;
  background-size: cover;
  background-color:white;
  background-position: center center;
  margin:-20px;
  padding: 0px;
  height: 400px;
}



.navbar-link {
  color: black !important;
  font-weight: 200;
  font-size: 1.3em;

}

.navbar-header {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.post-header {
  margin-top:2rem;
  font-size: 3em;
  font-weight: 300;
  text-align:center;
}

.post-body {
  max-width:85%;
  margin-left:6%;
  font-size:1.2em;
}

li {
  list-style-type: none;
}

